/* You can add global styles to this file, and also import other style files */


body{
    background-color: black;
}

#mouse-effect{
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#fluid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .9;
    pointer-events: none;
    z-index: 10;
}
