
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use 'reset';
@use 'declares';
@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */


body{
    background-color: black;
    color: white;
}

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
#fluid-container{
    overflow: hidden;
    pointer-events: none;
    // width: 100%;
    // height: 100%;
}
#fluid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .9;
    pointer-events: none;
    z-index: 9999;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.skill-dialog-panel {
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  background-color: #f0f0f0; // Custom background color
  border-radius: 10px; // Custom border radius
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Custom shadow
  
  .mat-mdc-dialog-surface {
    padding: 0;
    border-radius: 10px;
    background-color: #1e1e1e; // Custom background color
    color: white; // Custom text color
  }

  .mat-mdc-dialog-title {
    color: #3f51b5; // Custom title color
    font-size: 20px;
    padding: 16px 24px;
    border-bottom: 1px solid #e0e0e0;
  }

  .mat-mdc-dialog-content {
    padding: 24px;
    color: #333;
  }

  .mat-mdc-dialog-actions {
    padding: 8px 24px 16px;
    justify-content: flex-end;
  }
}